.version.index /* version checker */
{
	color: #000007;
	background-color: #974E09;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 766px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}

#pu329
{
	width: 0.01px;
	margin-right: -10000px;
}

#u329
{
	z-index: 2;
	width: 1024px;
	padding-bottom: 95px;
	margin-right: -10000px;
}

#u2277
{
	z-index: 5;
	width: 915px;
	background-color: transparent;
	opacity: 0.96;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
	filter: alpha(opacity=96);
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 54px;
}

#u2277_img
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2283
{
	z-index: 7;
	width: 224px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 489px;
	left: 402px;
}

#u2295
{
	z-index: 9;
	width: 301px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
}

#u2301
{
	z-index: 11;
	width: 301px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,301,18);
	-ms-transform: matrix(-1,0,0,-1,301,18);
	transform: matrix(-1,0,0,-1,301,18);
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 723px;
}

#u330
{
	z-index: 3;
	width: 253px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 362px;
	left: 1228px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

